.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("court.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;}

.image1 {
	position: absolute;
	width: 500px;
	height: 700px;
	left: 0px;
	top: 60px;
filter: drop-shadow(10px 10px 8px #202020)}

	.image2 {
	position: absolute;
	width: 500px;
	height: 700px;
	left: 290px;
	top: 60px;
	filter: drop-shadow(10px 10px 8px #202020)
}

.image3 {
	position: absolute;
	width: 500px;
	height: 700px;
	left: 590px;
	top: 60px;
	filter: drop-shadow(10px 10px 8px #202020)


}

.image4 {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 800px;
	top: 10px;
	
	
}
h1{
position: absolute;
top: 810px;
left: 80px;
color: green;
font-size: 40px;
font-family: 'Shrikhand', cursive;
-webkit-text-stroke: .1px white;}


h2{
position: absolute;
top: 810px;
left: 780px;
color: red;
font-size: 40px;
font-family: 'Shrikhand', cursive;
-webkit-text-stroke: .1px white;}

h3{
position: absolute;
top: 810px;
left: 1350px;
color: purple;
font-size: 40px;
font-family: 'Shrikhand', cursive;
-webkit-text-stroke: .1px white;}

h4{
position: absolute;
top: -20px;
left: 80px;
color: black;
font-size: 40px;
font-family: 'Shrikhand', cursive;
-webkit-text-stroke: .1px white;}

h5{
position: absolute;
top: -30px;
left: 750px;
color: black;
font-size: 40px;
font-family: 'Shrikhand', cursive;
-webkit-text-stroke: .1px white;}
h6{
position: absolute;
top: -55px;
left: 1400px;
color: black;
font-size: 40px;
font-family: 'Shrikhand', cursive;
-webkit-text-stroke: .1px white;}